{% extends 'base.html' %}

{% block body %}
<div class="jumbotron" id="home-banner">
  <div class="container">

  <div class="mt-70"></div>

  <h1 class="text-center banner-title">Paste a link to shorten it.</h1>

  <div class="mt-150"></div>

  <div class="col-md-8 col-md-offset-2">
    <form action="{% url 'url_shortener:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-info btn-block btn-lg" />
    </form>
  </div>
    
  </div>
</div>
{% endblock body %}